.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--primary-font-color);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.employeeDetails {
  display: grid;
  grid-template-areas: 
    'a a a a a a'
    'ic first last id dep pos';
  background-color: var(--background);
  padding: 10px;
  grid-template-columns: 100px 200px 200px 200px 200px 200px;
  align-items: center;
  justify-items: start;
}

.mainTitle {grid-area: a;}
.icon {grid-area: ic;}
.first {grid-area: first;}
.last {grid-area: last;}
.id {grid-area: id;}
.dep {grid-area: dep;}
.pos {grid-area: pos;}

.map {
  display: grid;
  grid-template-areas: 
  'b c d e f g';
  background-color: var(--background);
  padding: 10px 0 10px;
  grid-template-columns: 100px 200px 200px 200px 200px 200px;
  align-items: center;
  justify-items: start;
}

.map:nth-child(6) {
  grid-row-end: span 6;
}
  
.mapIcon {grid-area: b;}
.mapFirst {grid-area: c;}
.mapLast {grid-area: d;}
.mapId {grid-area: e;}
.mapDep {grid-area: f;}
.mapPos {grid-area: g;}
