.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}

.heading {
  padding: 100px 0 100px 0;
}

.employeeDetails {
  display: grid;
  grid-template-areas: 
    'a a a a a a'
    'ic first last id dep pos';
  background-color: var(--background);
  grid-template-columns: 10vw 16vw 16vw 10vw 16vw 16vw;
  align-items: center;
  justify-items: start;
  row-gap: 25px;
}

.mainTitle {grid-area: a;}
.icon {grid-area: ic;}
.first {grid-area: first;}
.last {grid-area: last;}
.id {grid-area: id;}
.dep {grid-area: dep;}
.pos {grid-area: pos;}

.map {
  display: grid;
  grid-template-areas: 
  'b c d e f g';
  background-color: var(--background);
  padding: 10px 0 15px;
  grid-template-columns: 10vw 16vw 16vw 10vw 16vw 16vw;
  align-items: center;
  justify-items: start;
  font-size: var(--primary-font-size);
}

.map:nth-child(6) {
  grid-row-end: span 6;
}
  
.mapIcon {grid-area: b;}
.mapFirst {grid-area: c;}
.mapLast {grid-area: d;}
.mapId {grid-area: e;}
.mapDep {grid-area: f;}
.mapPos {grid-area: g;}
